.loading-spinner{
  margin-top: 100px;
  margin-left: 600px;
}

.user-card{
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}
.user-card:hover {
  transform: scale(1.05);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pagination{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page-number-span{
  background-color: white;
  padding: 2px;
  margin: 4px;
}
.page-number-span.active{
  background-color: rgba(128, 128, 128, 0.205);
}